/* Webfont: GothamCondensed-Medium */@font-face {
    font-family: 'GothamCondensed';
    src: url('GothamCondensed-Medium.eot'); /* IE9 Compat Modes */
    src: url('GothamCondensed-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('GothamCondensed-Medium.woff') format('woff'), /* Modern Browsers */
         url('GothamCondensed-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('GothamCondensed-Medium.svg#GothamCondensed-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

