/* Webfont: GothamCondensed-Bold */@font-face {
    font-family: 'GothamCondensed';
    src: url('GothamCondensed-Bold.eot'); /* IE9 Compat Modes */
    src: url('GothamCondensed-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('GothamCondensed-Bold.woff') format('woff'), /* Modern Browsers */
         url('GothamCondensed-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('GothamCondensed-Bold.svg#GothamCondensed-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

